#publicLayout {
    position: relative;
}

.main {
    position: relative;
}

.layout {
    max-width: 75%;
    margin: auto;
}

.logoHeader {
    position: absolute;
    top: 20px;
    left: 35px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
}

.sideSocial {
    position: absolute;
    top: 0px;
    left: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.line {
    background: rgb(var(--shape-icon-color));
    width: 2px;
    height: 194px;
}

.socialIcons {
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.icon {
    cursor: pointer;
}

.icon svg {
    background-color: transparent;
    transition: linear .1s;
}

svg.rounded {
    border-radius: 100px;
}

.icon:hover svg path {
    fill: rgb(var(--blueText));
}

.icon path {
    fill: rgb(var(--shape-icon-color));
    transition: linear .1s;
}

#footer {
    position: relative;
    padding: 25px 50px 48px 25px;
    width: 100%;
    background-color: rgb(var(--background-main-content));
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 75%;
    margin: auto;
    border-top: rgb(var(--shape-icon-color)) solid 0.5px;
}

.logoContainer {
    display: flex;
    flex-flow: column;
    gap: 16px;
}

.footerSocialContainer {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.footerSocialTitle {
    font-size: var(--fs24);
}

.socialFooterIcons {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.footerDots {
    position: absolute;
    left: -15px;
    bottom: 0;
}