#publicLayout {
    position: relative;
}

.main {
    position: relative;
}

.layout {
    max-width: 75%;
    margin: auto;
}

.logoHeader {
    position: absolute;
    top: 1.25rem;
    left: 4%;
}

.logo {
    display: flex;
    align-items: center;
    gap: .375rem;
    font-weight: 600;
}

.sideSocial {
    position: absolute;
    top: 0px;
    left: 1.25rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.line {
    background: rgb(var(--shape-icon-color));
    width: .125rem;
    height: 12.125rem;
}

.socialIcons {
    margin-top: 1.25rem;
    display: flex;
    flex-flow: column;
    gap: 1.25rem;
}

.icon {
    cursor: pointer;
}

.icon svg {
    background-color: transparent;
    transition: linear .1s;
}

svg.rounded {
    border-radius: 100px;
}

.icon:hover svg path {
    fill: rgb(var(--blueText));
}

.icon path {
    fill: rgb(var(--shape-icon-color));
    transition: linear .1s;
}

#footer {
    position: relative;
    padding: 25px 50px 48px 25px;
    width: 100%;
    background-color: rgb(var(--background-main-content));
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 75%;
    margin: auto;
    border-top: rgb(var(--shape-icon-color)) solid 0.5px;
}

.logoContainer {
    display: flex;
    flex-flow: column;
    gap: 16px;
}

.footerSocialContainer {
    display: flex;
    flex-flow: column;
    gap: 1.25rem;
}

.footerSocialTitle {
    font-size: var(--fs24);
}

.socialFooterIcons {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.25rem;
}

.footerDots {
    position: absolute;
    left: -0.9375rem;
    bottom: 0;
}

@media only screen and (max-width: 62.375rem) {
    .logoText {
        display: none;
    }

    .logoHeader {
        left: 6%;
        width: 1.3125rem;
    }

    .line {
        height: 9.625rem;
    }

    .icon svg {
        width: 1.125rem;
    }

    .socialIcons {
        gap: .9375rem;
    }

    .sideSocial {
        left: .625rem;
    }

    #footer {
        flex-flow: column;
        align-items: center;
    }

    .logo {
        justify-content: center;
    }
}