.skillsGrid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.125rem;
    padding: 5rem 0;
}

@media only screen and (max-width: 48rem) {
    #skills {
        margin-top: 1.5rem;
    }

    .skillsGrid {
        padding: 2.5rem 0;
        grid-template-columns: auto;
    }
}