.paragraph {
    padding: 3.75rem 0;
    max-width: 54.0625rem;
    font-size: var(--fs24);
    text-align: justify;
    color: rgb(var(--shape-icon-color));
    margin: auto;
}

.brace {
    color: rgb(var(--blueText));
}

@media only screen and (max-width: 48rem) {
    .paragraph {
        font-size: var(--fs16);
        text-align: center;
        padding: 2.5rem 0;
    }
}