#intro {
    display: flex;
    padding: 54px 0 33px 0;
    justify-content: space-between;
}

.introTextContainer {
    max-width: 60%;
}

.introText {
    white-space: pre-wrap;
    font-size: var(--fs34);
    font-weight: 600;
}

.blue {
    color: rgb(var(--blueText));
}

.description {
    font-size: var(--fs18);
    font-weight: 400;
    color: rgb(var(--shape-icon-color));
    margin-top: 32px;
}

.contactMe {
    margin-top: 68px;
}

.introImageContainer {
    max-width: 40%;
    position: relative;
}

.introImage {
    position: relative;
}

.introImageContainer img {
    z-index: 1;
    position: relative;
}

.behindImageDot {
    position: absolute;
    bottom: 40px;
    right: -20px;
    z-index: 0;
}

.behindImageLogo {
    position: absolute;
    top: 90px;
    left: -115px;
    z-index: 0;
}

.imageSlider {
    width: calc(100% + 90px);
    height: 37px;
    background: rgb(var(--background-layout));
    position: absolute;
    right: 0;
    bottom: -33px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 8px;
}

.rect {
    background: #2C64EF;
    display: inline-block;
    width: 15.78px;
    height: 16px;
}