#intro {
    display: flex;
    padding: 54px 20px;
    justify-content: space-between;
}

.introTextContainer {
    max-width: 60%;
}

.introText {
    white-space: pre-wrap;
    font-size: 34px;
    font-weight: 600;
}

.blue {
    color: rgb(var(--blueText));
}

.description {
    font-size: var(--fs18);
    font-weight: 400;
    color: rgb(var(--shape-icon-color));
    margin-top: 32px;
}

.contactMe {
    margin-top: 68px;
}

.introImageContainer {
    max-width: 40%;
    position: relative;
}

.introImageContainer img {
    z-index: 1;
    position: relative;
}

.behindImageDot {
    position: absolute;
    bottom: 40px;
    right: -20px;
    z-index: 0;
}

.behindImageLogo {
    position: absolute;
    top: 90px;
    left: -115px;
    z-index: 0;
}