.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
}

.staticText {
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: rgb(var(--shape-icon-color));
    flex: 40%;
}

.slider {
    display: flex;
    flex-direction: column;
    animation: slide-animation linear infinite;
    position: relative;
    width: 100%;
    flex: 1;
    white-space: nowrap;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.5s;
    display: flex;
    align-items: center;
}

.active {
    opacity: 1;
    transform: translateY(0);
}

@keyframes slide-animation {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}